.App{
  text-align: center;
}
body{
  background-color: rgba(34, 148, 110, 0.879);

}
.container{
  background-color: azure;
  width: 600px;
  margin: auto;
  border-radius: 20px;
  box-shadow: 10px 5px 20px 1px #333;
}

 .container img{
  width: 100%;
  border-radius: 10px;
}
.title{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.price{
  padding-bottom: 2px;
  margin: 10px;
}

.text{
 
  padding: 10px;
}